%h3 Templates
- @templates.each do |template|
 %div{ id: template['_id'] }
  %h4
   %div{ id: template['title'] } #{template['title']} 
   = link_to('Delete', { action: :destroy, id: template[:_id] }, method: :delete, 'content-type' => 'text/javascript', remote: true)
   = link_to('Edit', { action: :edit, id: template[:_id] }, method: :get, 'content-type' => 'text/javascript', remote: true)
   = button_tag 'ok', id: 'ok', style: "display:none;"
  %table{ style: 'width: 250px' }
   - template.each do |k,_|
    - unless k == 'grids' || k == '_id' || k == 'created_at' 
     %tr
      %td{ style: 'cellspacing:0;cellpadding:0;border: 1px solid #DBDBDB;' }
       %div{ id: k } #{k}
  %h4
