- @reports.each do |report|
 %div{ id: report['_id'] }
  %h4 
   = report[:title]
   = link_to('Delete', { action: :destroy, id: report[:_id] }, method: :delete, 'content-type' => 'text/javascript', remote: true)
   = link_to('Edit', { action: :edit, id: report[:_id] }, method: :get, 'content-type' => 'text/javascript', remote: true)
  %table
   %tbody 
    - report.each do |k,v|
     - unless k == 'grids' || k == '_id' || k == 'created_at' || k == 'title'
      %tr
       %td
        = k
       %td
        = v
  %br